  <!--Start Nav bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

    <div class="container-fluid">
      <div class="pmd-navbar-right-icon pull-right navigation">
        <!-- Notifications -->
        <div class="dropdown notification icons pmd-dropdown">

          <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect"  data-toggle="dropdown" role="button" aria-expanded="true">
            <div data-badge="3" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">chat</div>
          </a>

          <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
            <!-- Card header -->
            <div class="pmd-card-title">
              <div class="media-body media-middle">
                <a href="notifications.html" class="pull-right">3 new notifications</a>
                <h3 class="pmd-card-title-text">Notifications</h3>
              </div>
            </div>

            <!-- Notifications list -->
            <ul class="list-group pmd-list-avatar pmd-card-list">
              <li class="list-group-item" style="display:none">
                <p class="notification-blank">
                  <span class="dic dic-notifications-none"></span> 
                  <span>You don´t have any notifications</span>
                </p>
              </li>
              <li class="list-group-item">
                <a href="javascript:void(0)">
                  <div class="media-left">
                    <span class="avatar-list-img40x40">
                      <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assest/images/profile-2.png" data-holder-rendered="true">
                    </span>
                  </div>
                  <div class="media-body">
                    <span class="list-group-item-heading"><b>Keel</b> Cloned 2 challenges.</span>
                    <span class="list-group-item-text">15 Minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="list-group-item unread">
                <a href="javascript:void(0)">
                  <div class="media-left">
                    <span class="avatar-list-img40x40">
                      <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assest/images/profile-3.png" data-holder-rendered="true">
                    </span>
                  </div>

                  <div class="media-body">
                    <span class="list-group-item-heading"><b>John</b> posted new collection.</span>
                    <span class="list-group-item-text">25 Minutes ago</span>
                  </div>
                </a>
              </li>
            </ul><!-- End notifications list -->
          </div>
        </div> <!-- End notifications -->

      </div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a> 
      </div>

      <div class="collapse navbar-collapse"> 
        <ul class="nav navbar-nav">
          <li><a class="pmd-ripple-effect" href="javascript:void(0);">Calender <span class="sr-only text">(current)</span></a></li>
          <li><a> | </a></li>
          <li><a class="pmd-ripple-effect" href="javascript:void(0);">Next Academy</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-sm-offset-3 text-center absolute-center">
          <a class="pmd-ripple-effect" href="javascript:void(0);">17ºC</a>
          <a> | </a>
          <a class="pmd-ripple-effect" href="javascript:void(0);">21 : 40</a>
      </div>
      


      <div class="container"> <!-- add row here will fixed the pos of tab bar -->
        <div class="collapse navbar-collapse">
          <div class="pmd-tabs pmd-tabs-bg">
            <div class="pmd-tab-active-bar"> </div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="active" role="presentation">
                <a aria-controls="tabname1" data-toggle="tab" href="#tabname1" role="tab">Tab1</a>
              </li>
              <li role="presentation">
                <a aria-controls="about" data-toggle="tab" href="#about" role="tab">Tab2</a>
              </li>
              <li role="presentation" >
                <a aria-controls="work" data-toggle="tab" href="#work" role="tab">Tab3</a>
              </li>
            </ul>

          </div>
        </div>
      </div>

    </div>
  </nav>
  <!--End Nav bar -->




